// Custom Bootstrap overrides.

$grid-breakpoints: (
  xs: 0,
  sm: 570px,
  md: 900px,
  lg: 1100px,
  xl: 1400px 
) !default;

$container-max-widths: (
  sm: 530px,
  md: 860px,
  lg: 1060px,
  xl: 1360px
) !default;

$enable-validation-icons: false;

// Custom variables.

$fixed-bar-height: 80px;

// Import Bootstrap.

@import 'node_modules/bootstrap/scss/bootstrap.scss';

// Custom utilities.

.vertical-line {
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    border-right: $border-width solid $border-color;
  }
}

.fixed-bar {
  height: $fixed-bar-height;
}

.in-transition {

  .transition-hide {
    display: none;
  }
}

// Custom styles.

// Ensure the footer is visible on pages with a fixed-bar for buttons.
.page-signUpBuyer,
.page-signUpVendor,
.page-signUpProgramStaff,
.page-termsAndConditions {

  footer {
    margin-top: $fixed-bar-height;
  }
}
