// Global styles.

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

input:-ms-clear {
  display: none;
}

input[type="date"],
input[type="time"] {

  &::-ms-clear {
    display: none;
  }

  &::-webkit-clear-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
}

input,
select,
button,
a {

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }
}

// Custom Bootstrap overrides.

$grid-breakpoints: (
  xs: 0,
  sm: 570px,
  md: 900px,
  lg: 1100px,
  xl: 1400px 
);

$container-max-widths: (
  sm: 530px,
  md: 860px,
  lg: 1060px,
  xl: 1060px // Maximum container width fixed at lg size.
);

$spacer: 1rem;

$spacers: (
	m0: 0,
	m1: ($spacer * -0.25),
	m2: ($spacer * -0.5),
	m3: $spacer * -1,
	m4: ($spacer * -1.5),
	m5: ($spacer * -3),
	m6: ($spacer * -4),
	m7: ($spacer * -5),
	6: ($spacer * 4),
	7: ($spacer * 5)
);

$theme-colors: (
  primary: #0c99d6,
  info: #0f4c8b,
  warn: #fcb817,
  danger: #f16924
);

$enable-validation-icons: false;

// Custom variables.

$fixed-bar-height: 71px;

// Import Bootstrap.

@import 'node_modules/bootstrap/scss/bootstrap.scss';

// Custom utilities.

.vertical-line {
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    border-right: $border-width solid $border-color;
  }
}

.fixed-bar {
  height: $fixed-bar-height;
}

.in-transition {

  .transition-hide {
    display: none;
  }
}

// Custom page overrides.

.page-termsAndConditions {

  ul {

    &,
    li {
      list-style-type: none; 
    }
  }
}
